

@import "../style/color.scss";

.services {
  height: 85.03vh;
  width: 100%;
  background: $Lightblue;
  font-family: Roboto;
  margin: -12.5rem 0 0 0;
}

.title_services {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-stretch: normal;
  font-style: normal;
  font-family: Roboto;
  // margin: 09.375rem 0 0 0;
}
.first_title_serv {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: -0.73px;
  color: $black;
  margin: 9.375rem 0 0 0;
}
.subtitle_title_serv {
  font-family: Roboto;
  font-size: 18px;
  width: 32.438rem;
  font-weight: normal;
  line-height: 1.56;
  letter-spacing: -0.45px;
  color: $gray;
}
.subtitle_title_serv_AR {
  font-family: Roboto;
  font-size: 18px;
  width: 36.438rem;
  font-weight: normal;
  line-height: 1.56;
  letter-spacing: -0.45px;
  color: $gray;
}
.subtitle2_title_serv {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: -0.45px;
  color: $gray;
}

.continer_services {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3.125rem 0 0 9rem;
  width: 80%;
}
.continer_services_AR {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3.125rem 9rem 0 0;
  width: 80%;
}
.services_one {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 350px;
  height: 226px;
  border-radius: 7px;
  // margin: 0 140px 0 140px;
  background-color: $white;
}
.titleEasy {
  display: flex;
  flex-direction: row;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.5px;
  color: #595f6f;
  margin: 0 0 -5px 0;
}
.textone {
  margin: 3.125rem 0 0 4.25rem;
  width: 169px;
}
.textone_AR {
  margin: 3.125rem 4.25rem 0 0;
  width: 169px;
}
.texthelp {
  width: 180px;
  height: 108px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #595f6f;
}
.documentIcon {
  margin: 5.313rem -2.5rem 0 3.125rem;
}
.documentIcon_AR {
  margin: 5.313rem 3.125rem 0 -2.5rem;
}

@media screen and (max-width: 960px) {
  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 179.43vh;
    background: $Lightblue;
    background-size: cover;
    font-family: Roboto;
    margin: 195px 0 0 0;
    // padding: 0 122px 0 111px;
    width: 1000px;
  }

  .continer_services {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .continer_services_AR {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.125rem 0rem 0 0;
  }
  .title_services {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-stretch: normal;
    font-style: normal;
    font-family: Roboto;
  }
  .title_services_AR {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-stretch: normal;
    font-style: normal;
    font-family: Roboto;
  }
  .services_one {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 560px;
    height: 248px;
    margin: 20px 91px 30px 0;
  }

  .documentIcon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 31px -9px 0 0;
  }
  .documentIcon_AR {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 31px -9px 0 0;
  }
  .textone {
    width: 359px;
    text-align: center;
  }
  .textone_AR {
    margin: 3.125rem -4rem 0 0;
    width: 267px;
    text-align: center;
  }
  .titleEasy {
    display: flex;
    flex-direction: row;
    font-family: Roboto;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: #595f6f;
    margin: -29px 48px -5px 0;
  }
}
