

@import "../style/color.scss";
.required{
    height: 24.93vh;
    width: 100%;
    background-color: $Lightblue;
};
.title_Required{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.71px;
  color: #000000;
  padding: 3.125rem 0 0 0;
};
.required_documentation{
    width: 59%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 25px 0 0 337px;
};
.required_documentation_AR{
    width: 59%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 25px 315px 0 0;
}
.text_required{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: -0.5px;
    color: #595f6f;
};
.text_required2{
    font-family: Roboto;
    font-size: 11px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: -0.5px;
    color: #595f6f;
};
@media screen and (max-width: 960px){
    .required{
        height: 24.93vh;
        width: 1000px;
        background-color: $Lightblue;
        margin: 210px 0 0 0;
    }; 
    .required_documentation{
        width: 59%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin:  23px 0 0 172px;
    };
    .required_documentation_AR{
        width: 59%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 25px 199px 0 0;
    }
}