
@import "../../components/style/color.scss";

.Howtowork{
    width: 100%;
  height: 79.2vh;
    display: flex;
    justify-content: flex-start;

    flex-direction: row;
   
};
.paper2{
    order: 1;
    background-color: $background;
    width: 53%;
};
.paper{
    background-image: url(../../assets/images/red-bg.png);
    order: 2;
    width: 47%;
    background-Size: 'cover',
};
.continer_howtowork{
    display: flex;
    flex-direction: column;
 align-items: center;
    color: $white;
    font-family: "Roboto";
    font-stretch: normal;
  font-style: normal;
  margin-top: 100px;
};
.continer_howtowork_AR{
    display: flex;
    flex-direction: column;
 align-items: center;
    color: $white;
    font-family: "Roboto";
    font-stretch: normal;
  font-style: normal;
 margin: 60px 0 0 200px;
  
}
.continer_title{
    display: flex;
    flex-direction: column;
 align-items: center;
 margin: 0 275px 0 0;
};
.continer_title_AR{
    display: flex;
    flex-direction: column;
 align-items: center;
 margin: 0 33px 0 0; 
}
.title{
    font-size: 35px;
    letter-spacing: -0.97px;
    font-weight: bold;
    margin: 0 0 10px 0;

};
.subtitle{
    font-size: 18px;
  font-weight: normal;
  letter-spacing: -0.5px;
  margin: 0 -36px 0 0;

};
.list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

};
.NumberCircle1{
    height: 51px;
  width: 51px;
  border-Radius: 67px;
  margin-Left: -64px;
  bottom: -41px;
  box-Shadow: 20px 20px 60px 0 rgba(0, 0, 0, 0.4);
  background-Image: linear-gradient(225deg, #ec1c24, #f91c3d);

};
.NumberCircleAR{
    height: 51px;
    width: 51px;
    margin: 0 -76px 0 0;
    bottom: -41px;
    box-Shadow: 20px 20px 60px 0 rgba(0, 0, 0, 0.4);
    background-Image: linear-gradient(225deg, #ec1c24, #f91c3d);
}
.li1{
    display: flex;
    flex-direction: column;
    margin: 0 0 36px 0;
}
.title_steps{
    letter-spacing: -0.44px;
    font-size: 17px;
    line-height: normal;
    margin: 0 0 8px 0;
};
.suptitle_steps{
    font-size: 15px;
    letter-spacing: normal;
    line-height: 1.29;
};


.BidIcon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 258px 0 0 0;
};
.title_paper{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:$white ;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    font-family: "Roboto";
    margin: 30px 0 0 0;
};
.bidding_title{
    font-size: 28px;
    letter-spacing: -0.63px;
    font-weight: bold;
    margin: 0 0px 10px 0px;
};
.bidding_subtitle{
    font-size: 20px;
    letter-spacing: -0.42px;
    font-weight: 500;
}



@media screen and (max-width: 960px){
    .Howtowork{
        
      height: 93.2vh;
      width: 960px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap:nowrap;
        
       
    };
    .paper2{
        display: flex;
        order: 1;
        background-color: $background;
        width: 104%;
        height:  90.45vh;
    };
    .continer_howtowork{
        display: flex;
        flex-direction: column;
     align-items: center;
     margin: 123px 0 0 200px;
        color: $white;
        font-family: "Roboto";
        font-stretch: normal;
      font-style: normal;
     
    };
    .continer_howtowork_AR{
        display: flex;
        flex-direction: column;
     align-items: center;
        color: $white;
        font-family: "Roboto";
        font-stretch: normal;
      font-style: normal;
      margin: 95px 174px 0 0;
      
    }
    .paper{
        background-image: url(../../assets/images/red-bg2.jpg);
        background-size: cover;
        display: flex;
        order: 2;
        width: 104%;
      
        height: 69.37vh;
        background-Size: 'cover';
       
        
    };
    .continer_paper{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: -108px 0 0 230px;

    };
    .continer_paper_AR{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:-108px 336px 0 0px;
    }
    .BidIcon{
        height: 77px;
        
    }
  
 
    

}

